In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
  sum += num
print(sum)

15

In [ ]:
name = "Spongebob"
for char in reversed(name):
  print(char)

b
o
b
e
g
n
o
p
S

In [ ]:
def factorial(n):
  result = 1
  i = 1
  for i in range(i, n+1):
    result *= i
  return result

factorial(4)

24

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
  print(num, "*", i, "=", num * i)

Enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
numbers = [1, 2, 3, 4, 5]
ecount = 0
ocount = 0
for num in numbers:
  if num % 2 == 0:
    ecount += 1
  else:
    ocount += 1
print(ecount)
print(ocount)

2
3

In [ ]:
for i in range(1, 6):
  print(i ** 2)

1
4
9
16
25

In [ ]:
line = "Keshari"
length = 0
for char in line:
  length += 1
print(length)

7

In [ ]:
numbers = [1,2,3,4,5,6,7]
total = 0
for num in numbers:
  total += num
  average = total / len(numbers)
print(average)

4.0

In [ ]:
n = int(input("ENTER a number: "))
a, b = 0, 1
for i in range(n):
  print(a," ")
  a, b = b, a+b

ENTER a number: 4
0
1
1
2

In [ ]:
numbers = [1,2,3,4,5]
duplicates = False
for num in numbers:
  if(numbers.count(num)) > 1:
    duplicates = True
    break
print("Has duplicates: ", duplicates)

Has duplicates:  False

In [ ]:
start = 10
end = 50
for num in range(start, end + 1):
  for i in range(2, int(num/2) + 1):
    if num % i == 0:
      break
    else:
      print(num, end=" ")

11 11 11 11 13 13 13 13 13 15 17 17 17 17 17 17 17 19 19 19 19 19 19 19 19 21 23 23 23 23 23 23 23 23 23 23 25 25 25 27 29 29 29 29 29 29 29 29 29 29 29 29 29 31 31 31 31 31 31 31 31 31 31 31 31 31 31 33 35 35 35 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 39 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 45 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 49 49 49 49 49

In [ ]:
string = "Somethin in the way"
vowels = "AEIOUaeiou"
count = 0
for char in string:
  if char in vowels:
    count += 1
print("Number of vowels: ", count)

Number of vowels:  6

In [ ]:
numbers = [1,2,3,4,5,6,4,3,5,1,2,9]
remove = 2
newnumbers = [ele for ele in numbers if ele != remove]
print(newnumbers)

[1, 3, 4, 5, 6, 4, 3, 5, 1, 9]

In [ ]:
for i in range(1, 11):
  for j in range(1, 6):
    print(j, "*", i, "=", i * j, end="\t")
  print()

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45
1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50

In [ ]:
faren = [32,68,95,104,212]
for f in faren:
  celsius = (f - 32) * 5/9
  print(f"{f} Fahrenheit is {celsius: .2f} Celsius")

32 Fahrenheit is  0.00 Celsius
68 Fahrenheit is  20.00 Celsius
95 Fahrenheit is  35.00 Celsius
104 Fahrenheit is  40.00 Celsius
212 Fahrenheit is  100.00 Celsius

In [ ]:
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
common = [ele for ele in list1 if ele in list2]
print(common)

[3, 4, 5]

In [ ]:
num = 6
for i in range(1, n + 1):
  print("*" * i)

*
**
***
****

In [ ]:
def gcd(a, b):
  while b:
    a, b = b, a % b
  return a

num1 = 24
num2 = 64
result = gcd(num1, num2)
print(f"GCD of {num1} and {num2} is {result}")

GCD of 24 and 64 is 8